<!DOCTYPE html>
<html>
  <head>
   
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  

    
    <% for(var i=0; i < data.length; i++) { %>
      
        <img src='<%= url+data[i]%>' > </img>
      
   <% } %>
    
  </body>
</html>
